<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
    <dict>
        <key>NSHighResolutionCapable</key>
        <true/>
        <key>LSUIPresentationMode</key>
        <integer>4</integer>
    </dict>
</plist>
